
body{
    background-color: bisque;
    margin: 0px;

}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: firebrick;
    margin:0 auto;
    height: 2em;
    padding: 15px;
    color:white;
}


.pizzaimg{

    width: 300px;
    height: 300px;
}

.parent{
display: flex;
border: 6px solid red;
}

.children1{
    background-color: white;
    border: 6px solid green;
}

.children2{
    border: 6px solid blue;
}